{% extends "base.html" %}
{% load static %}
{% comment %} подключаем шаблонный тег из приложения carts для передачи карзин пользователя {% endcomment %}
{% load carts_tags %}
{% comment %} подключаем шаблонный тег из приложения card_decks для передачи карзин пользователя {% endcomment %}
{% load carddecks_tags %}
{% comment %} шаблонный тег для каталога {% endcomment %}
{% load cards_tags %}

{% block scripts %}
    <!--Импорт three.js и его адонов-->
    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@0.164.1/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.164.1/examples/jsm/"
            }
        }
    </script>
    <!--подключение скрипта для работы со сценой-->
    <script type="module" src="{% static "deps/game/genshin/js/product_card.js" %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
{% endblock scripts%}

{% block content %}
    <div class="row">
        <div class="container mt-5">
            <div class="row">
                <!-- Профиль с данными пользователя -->
                <div class="row row-equal-height">
                    <div class="col-md-5">
                        <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                            <h3 class="text-center mb-4">Профиль пользователя</h3>
                            <form action="{% url 'user:profile' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 mb-3 text-center">
                                        {% if user.image %}
                                            <img src="{{ user.image.url }}"
                                                alt="Аватар пользователя" 
                                                {% comment %} class="img-fluid rounded-circle" {% endcomment %}
                                                class="card-img-top"
                                                style="max-width: 250px;">
                                        {% else %}
                                            <img src="{% static 'deps/images/baseavatar.jpg' %}"
                                                alt="Аватар пользователя" class="img-fluid rounded-circle"
                                                style="max-width: 150px;">
                                        {% endif %}
                                        <input type="file" class="form-control mt-3" id="id_image"
                                            name='image'
                                            accept="image/*">
                                            {% if form.image.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{ form.image.errors }}</div>
                                            {% endif %}
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="id_first_name" class="form-label">Имя*</label>
                                        <input type="text" class="form-control" id="id_first_name"
                                            name='first_name'
                                            placeholder="Введите ваше имя" 
                                            value="{{ form.first_name.value }}" 
                                            required>
                                            {% if form.first_name.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                                            {% endif %}
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="id_last_name" class="form-label">Фамилия*</label>
                                        <input type="text" class="form-control" id="id_last_name"
                                            name='last_name'
                                            placeholder="Введите вашу фамилию" 
                                            value="{{ form.last_name.value }}" 
                                            required>
                                            {% if form.last_name.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                                            {% endif %}
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="id_username" class="form-label">Имя пользователя*</label>
                                        <input type="text" class="form-control" id="id_username"
                                            name='username'
                                            placeholder="Введите ваше имя пользователя" 
                                            value="{{ form.username.value }}" 
                                            required>
                                            {% if form.username.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                                            {% endif %}
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="id_email" class="form-label">Email*</label>
                                        <input type="email" class="form-control" id="id_email"
                                            name='email'
                                            placeholder="Введите ваш email *youremail@example.com" 
                                            value="{{ form.email.value }}"
                                            required>
                                            {% if form.email.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                            {% endif %}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-dark">Сохранить</button>
                            </form>
                            <div class="col-md-12 mb-3">
                                <h3 class="text-center mb-4">Статистика пользователя</h3>
                                <p>Достижения: {{ user.achievements }} </p>
                                <p>Уровень -  {{ user.level }} </p>
                                <p>Побед -  {{ user.win }} </p>
                                <p>Поражений -  {{ user.lose }} </p>
                                <p>Статус -  {{ user.status }} </p>
                                <p>Деньги -  {{ user.money }} </p>
                            </div>
                        </div>
                    </div>
                    <!-- Корзина -->
                    {% comment %} подключаем шаблонный тег из приложения carts для передачи карзин пользователя {% endcomment %}
                    {% comment %} {% user_carts request as carts %}
                    <div class="col-md-7">
                        <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                            <h3 class="text-center mb-4">Корзина</h3>
                            <div class="container" id="cart-items-container">
                                <!-- Разметка корзины -->
                                {% include "carts/includes/included_cart.html" %}
                                <!-- Закончилась разметка корзины -->
                            </div>
                            {% comment %} {% if carts %}
                                <a class="btn btn-dark" href="../orders/create_order.html">
                                    Оформить заказ
                                </a>
                            {% endif %}
                        </div>
                    </div> {% endcomment %}
                    
                    <div class="col-md-7">
                        <!--блок вывода купленных карточек carddecks-->
                        {% user_carddecks request as carddecks %}
                        <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                            <h3 class="text-center mb-4">Колода карт пользователя</h3>
                            <div class="container" id="carddeck-items-container">
                                {% include "card_decks/includes/included_catalog.html" %}
                                {% comment %} {% include "card_decks/includes/included_slider.html" %} {% endcomment %}
                            </div>

                            <!--сделать кнопку для переноса карточки в набор-->
                            <br>
                            {% if carddecks %}
                                {% comment %} <a class="btn btn-dark" href="{% url 'carddecks:cardset_create' %}">Создать набор карт для игры</a> {% endcomment %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--блок вывода наборов карточек для игры-->
                <br>
                {% user_cardsets request as cardsets %}
                {% user_cardsets_hero request as cardsets_hero %}
                <div class="bg-white col-md-20 mx-2 rounded custom-shadow">
                    <!--блок вывода купленных карточек-->
                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                        <h3 class="text-center mb-4">Наборы карт пользователя</h3>
                        <div class="container" id="cardset-items-container">
                            {% include "card_decks/includes/included_cardset_item.html" %}
                        </div>
                        
                        <!--сделать кнопку для переноса карточки в набор-->
                        {% comment %} {% if cardsests %}
                            <a class="btn btn-dark" href="{% url 'carddecks:cardset_create' %}">Создать набор карт для игры</a>
                        {% endif %} {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
