<!--Подключаемый шаблон наборов карт-->
{% load static %}
{% load cards_tags %}
{% load carddecks_tags %}
<div class="card mb-3 text-bg-light shadow-lg">
    <!--Список наборов карт для игры-->
    <ul class="cardset_list">
        {% for set in cardsets %}
            <div>
                <li>
                    <div class="cardset_list_item">
                        <h3 class="product-delete">
                            <a href="{% url 'carddeck:cardset_remove' %}" class="remove-cardset"
                            data-cardset-id="{{ set.id }}"
                            {% csrf_token %}
                                <img class="mx-1" src="{% static "deps/icons/trash3-fill.svg" %}"
                                    alt="Catalog Icon" width="16" height="16">
                            </a>
                        </h3>
                        <!--редактирование набора карт и установка набора активным для игры-->
                        <button 
                            data-url="{% url "carddeck:cardset_change" %}"
                            class="btn btn-secondary {% if set.id|stringformat:"s" == current_set_id|stringformat:"s" %}btn-purple{% else %}btn-dark{% endif %} cardset_change"
                            {% comment %} class="btn btn-secondary {% if current_set_active == True %}btn-purple{% else %}btn-dark{% endif %} cardset_change"  {% endcomment %}
                            type="button"
                            data-cardset-id="{{ set.id }}">
                            {% csrf_token %}
                            Набор № {{ set.id }}
                        </button>
                        {% comment %} карточек в наборе - {{ set.setitem_set.total_quantity }},  {% endcomment %}
                        {% comment %} набор создан - {{ set.created_timestamp }}, {% endcomment %}
                        {% comment %} current_set_id - {{ current_set_id }}, {% endcomment %}
                    </div>
                </li>
            </div>
        {% endfor %}
        <br>
        <div>
            <button
                data-url="{% url 'carddeck:cardset_create' %}"
                class="btn btn-dark btn-sm cardset_create"
                type="button">
                {% comment %} data-carddeck-id="{{ carddeck.id }}"  {% endcomment %}
                {% csrf_token %}
                +
            </button>
        </div>
    </ul>

    <br>
    <br>
    <!--Карты в активном наборе-->
    {% comment %} <ul class="hero_card_list"> {% endcomment %}
    <ul class="action_card_list">
        {% for item in setitems %}
            {% comment %} <li class="hero_card_list_item item{% if forloop.first %} first{% elif forloop.last %} last{% endif %}"> {% endcomment %}
            <li class="action_card_list_item">
                {% comment %} <div class="content1"> {% endcomment %}
                <div class="content">
                
                    <div class="card-img">
                        {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" class="card-img-top" alt="Карточка персонажа">
                            {% comment %} <div class="rounded product-box" data-static-url="{{ item.product.image.url }}"></div> {% endcomment %}
                            {% comment %} <div class="texture-paths" style="display: none;"
                                data-product = "{{ item.product.image.url }}"
                                data-cover = "{% static 'deps/js/assets/card2.png' %}"
                            ></div> {% endcomment %}
                        {% else %}
                            <img src="{% static "deps/images/empty3.jpg" %}" class="card-img-top" alt="Карточка персонажа" style="max-height: 265px; overflow: auto">
                        {% endif %}
                    </div>
                    <div class="action_cardset">
                        <!--Перенос карточки в колоду-->
                        <p class="cardset_change">
                            <a href="{% url 'carddeck:cardset_change' %}" class="add-to-carddeck"
                            data-cardset-id="{{ set.id }}"
                            data-setitem-id="{{ item.id }}">
                            {% csrf_token %}
                                <img class="mx-1" src="{% static "deps/icons/carddecks_b.svg" %}"
                                    alt="Catalog Icon" width="16" height="16">
                            </a>
                        </p>
                        <p class="cardset_change">{{item.product.name}}</p>
                        <!--Перенос карточки из колоды-->
                        <p class="product-delete">
                            <a href="{% url 'carddeck:setitem_remove' %}" class="remove-from-cardset"
                            data-cardset-id="{{ set.id }}"
                            data-setitem-id="{{ item.id }}">
                            {% csrf_token %}
                                <img class="mx-1" src="{% static "deps/icons/trash3-fill.svg" %}"
                                    alt="Catalog Icon" width="16" height="16">
                            </a>
                        </p>
                    </div>
                    {% comment %} <p>product sell_price: {{ item.product.sell_price }}</p>
                    <p>category name: {{ item.product.category.name }}</p>
                    <p>set id: {{ set.id }}</p>
                    <p>item id: {{ item.id }}</p>
                    <p>item quantity: {{ item.quantity }}</p> {% endcomment %}
                </div>
            </li>
        {% endfor %}

</div>
<br>
{% comment %} активировать набор карт {% endcomment %}
<button 
    data-url="{% url "carddeck:cardset_activate" %}"
    class="btn btn-secondary {% if current_set_active == True %}disabled{% else %}btn-dark{% endif %} cardset_activate" 
    type="button"
    data-cardset-id="{{ current_set_id }}">
    {% csrf_token %}
    Активировать набор
</button>
<p>set active: {{ current_set_active }}</p>
<p>setitems: {{ setitems }}</p>
